<?xml version="1.0"?>
<launch>

	<!--node name="rqt_console" pkg="rqt_console" type="rqt_console" output="screen" /-->


	<!-- Gazebo -->
	<arg name="world_name" default="worlds/empty.world"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>





	<node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_1_tf/map 100"/>
	<node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="40 0 0 0 0 0 /map /robot_2_tf/map 100"/>

	<group ns="robot_1">


		<include file="$(find nre_simmultihusky)/launch/autom_husky.launch">
			<arg name="robot_namespace" value="robot_1" />
			<arg name="initX" value="0" />
			<arg name="initY" value="0" />
			<arg name="laser_enabled" value="true"/>
			<arg name="initYaw" value="0" />
		</include>

		<param name="robot_id" value="1" />
		<param name="laser_frame" value="hokuyo_link"/>
		<param name="map_frame" value="map"/>
		<param name="map_topic" value="map"/>
		<param name="odometry_frame" value="odom"/>
		<param name="robot_frame" value="base_link"/>
		<param name="map_service" value= "static_map"/>
		<param name="min_map_size" value="100"/>
		<param name="laser_topic" value="robot_1/scan"/>
		<param name="offset_frame" value="offset"/>
		<param name="tf_prefix" type="string" value="robot_1_tf"/>
		<!--<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>-->
		<!--<arg name="initX" value="3"/> -->
		<!--<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /robot_1_tf/odom 100" />-->




		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen" >
			<!--<remap from="scan" to="robot_1/scan"/>-->
			<remap from="karto_in" to="/shared_scans_r2"/>
			<remap from="karto_out" to="/shared_scans_r1"/>
			<rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
		</node>

	</group>


	<group ns="robot_2">

		<include file="$(find nre_simmultihusky)/launch/autom_husky.launch">
			<arg name="robot_namespace" value="robot_2" />
			<arg name="initX" value="1" />
			<arg name="initY" value="3" />
			<arg name="laser_enabled" value="true"/>
			<arg name="initYaw" value="0" />
		</include>

		<param name="robot_id" value="2" />
		<param name="laser_frame" value="hokuyo_link"/>
		<param name="map_frame" value="map"/>
		<param name="map_topic" value="map"/>
		<param name="odometry_frame" value="odom"/>
		<param name="robot_frame" value="base_link"/>
		<param name="map_service" value= "static_map"/>
		<param name="min_map_size" value="100"/>

		<param name="offset_frame" value="offset"/>
		<param name="tf_prefix" type="string" value="robot_2_tf"/>



		<param name="laser_topic" value="robot_2/scan" />

		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen">
		<!--remap from="robot_1/scan" to="robot_1/base_scan"/-->
					<!--remap from="scan" to="base_scan"/-->
			<remap from="karto_in" to="/shared_scans_r1"/>
			<remap from="karto_out" to="/shared_scans_r2"/>
			<rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
		</node>

	</group>



	<!--group ns="robot_2">
		<include file="$(find nre_simmultihusky)/launch/autom_husky.launch">
			<arg name="robot_namespace" value="robot_2" />
			<arg name="initX" value="1" />
			<arg name="initY" value="3" />
			<arg name="laser_enabled" value="true"/>
			<arg name="initYaw" value="0" />
		</include-->

		<!--param name="robot_id" value="1" />
		<param name="tf_prefix" type="string" value="robot_0"/>
		<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/-->
			<!--param name="robot_id" value="2" />
		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen" >

			<remap from="/scan" to="base_scan"/>
			<remap from="karto_in" to="/shared_scans_r1"/>
			<remap from="karto_out" to="/shared_scans_r2"/>
			<rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
		</node>
	</group-->


	<!--group ns="robot_1">

		<param name="tf_prefix" type="string" value="robot_1"/>
		<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>


		<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen">
			<remap from="scan" to="base_scan"/>
			<remap from="karto_in" to="/shared_scans_r1"/>
			<remap from="karto_out" to="/shared_scans_r2"/>
			<rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
		</node>

	</group-->

	<!-- RVIZ to view the visualization -->
	<node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree" output="screen" />
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tutorial4.rviz" />

</launch>
